body, #container {
    background-color: gray;
    height: 100vh;
    width: 100vw;
}

/* #container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
} */

.column1, #column2, #column3, div, p, div.column1 {

    background-color: hotpink;
    height: 500px;
    width: 300px;
    border: solid green 5px;
    /* float: left; */
    margin: 100px;
}

#puppy {
    width: 50%;
    height: 50%;
}